body{font-family: "Proxima Nova Dribbble", "Helvetica Neue", Helvetica, Arial, sans-serif;}
a:link{ text-decoration: none;}
.non-left{ padding-left: 0!important; margin-left: 0!important;}
.non-right{ padding-right: 0!important; margin-right: 0!important;}
.non-border{ border: 0!important;}
.non-padding{ padding: 0!important;}
.non-margin{ margin: 0!important;}
.pointer{ cursor: pointer!important;}
::selection { color: #FFF; background-color: #000000;}

/*********************** CUSTOM BOOTSTRAP ***********************/
/****************************************************************/
.btn-warning{ background-color: #FFC31C; border-color: #eea236;}
.btn.btn-flat{ border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-width: 1px;}
.thumbnail{border-radius: 0; border: 0;}
.col-all-1{ width:8.33333333%}
.col-all-2{ width:16.66666667%}
.col-all-3{ width: 25%;}
.col-all-4{ width:33.33333333%}
.col-all-5{ width:41.66666667%}
.col-all-6{ width: 50%;}
.col-all-7{ width:58.33333333%}
.col-all-8{ width:66.66666667%}
.col-all-9{ width: 75%;}
.col-all-10{ width:83.33333333%}
.col-all-11{ width:91.66666667%}
.col-all-12{ width: 100%;}
.col-all-1, .col-all-2, .col-all-3, .col-all-4, .col-all-5, .col-all-6, .col-all-7, .col-all-8, .col-all-9, .col-all-10, .col-all-11, .col-all-12{ float: left; position: relative; min-height: 1px;  padding-right: 15px; padding-left: 15px;}


/************************ CUSTOM AdminTLE ***********************/
/****************************************************************/
.main-header .sidebar-toggle:before { content: none;}

/************************ PRODUCT DETAIL ************************/
/****************************************************************/
.products .detail .price{ font-size: 25px; color: #FFC31C;}
.products .detail .line{ font-size: 17px; color: #000000;}
.products .detail .line #quantityVal{ font-size: 14px; padding: 0; height: 100%;}