body{font-family: "Proxima Nova Dribbble", "Helvetica Neue", Helvetica, Arial, sans-serif;}
a:link{ text-decoration: none;}
.hid{ display: none}
.non-left{padding-left: 0!important; margin-left: 0!important;}
.non-right{padding-right: 0!important; margin-right: 0!important;}
.non-border{border: 0!important;}
.non-padding{padding: 0!important;}
.non-margin{ margin: 0!important;}
.pointer{cursor: pointer!important;}
::selection { color: #FFF; background-color: #3C8DBC;}

/************************ CUSTOM AdminTLE ***********************/
/****************************************************************/
.main-header .sidebar-toggle:before { content: none;}

/************************ PRODUCT DETAIL ************************/
/****************************************************************/
.view_page .detail, .view_page .description, .view_page .image, .view_page .video{ margin-bottom: 20px}
.view_page .detail .price{ font-size: 25px; color: #FFC31C;}
.view_page .detail .line{ font-size: 17px; color: #000000;}
.view_page .detail .line #quantityVal{ font-size: 14px; padding: 0; height: 100%;}
.view_page .image .thumbnail>img { height: 100px;}