body{font-family: "Proxima Nova Dribbble", "Helvetica Neue", Helvetica, Arial, sans-serif;}
a:link{ text-decoration: none;}
.non-left{ padding-left: 0!important; margin-left: 0!important;}
.non-right{ padding-right: 0!important; margin-right: 0!important;}
.non-border{ border: 0!important;}
.non-padding{ padding: 0!important;}
.pointer{ cursor: pointer!important;}
::selection { color: #FFF; background-color: #000000;}
:root {--main-color: #F7B74C;}

/*********************** CUSTOM BOOTSTRAP ***********************/
/****************************************************************/
.btn-warning{ background-color: #F7B74C; border-color: #eea236;}
.btn.btn-flat{ border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-width: 1px;}
.thumbnail{border-radius: 0; border: 0; text-align: center;}
.col-all-1{ width:8.33333333%}
.col-all-2{ width:16.66666667%}
.col-all-3{ width: 25%;}
.col-all-4{ width:33.33333333%}
.col-all-5{ width:41.66666667%}
.col-all-6{ width: 50%;}
.col-all-7{ width:58.33333333%}
.col-all-8{ width:66.66666667%}
.col-all-9{ width: 75%;}
.col-all-10{ width:83.33333333%}
.col-all-11{ width:91.66666667%}
.col-all-12{ width: 100%;}
.col-all-1, .col-all-2, .col-all-3, .col-all-4, .col-all-5, .col-all-6, .col-all-7, .col-all-8, .col-all-9, .col-all-10, .col-all-11, .col-all-12{ float: left; position: relative; min-height: 1px;  padding-right: 15px; padding-left: 15px;}
.col-centered{ float: none; margin: 0 auto;}

/**************************** HEADER ****************************/
/****************************************************************/
.nav-alias{ display: none; height: 108px;}
.fixed-nav{ top: 0; left: 0; width: 100%; height: 72px!important; z-index: 9999; position: fixed;}
.nav-bar{ top: 0; z-index: 9999; width: 100%; height: 108px; background-color: #FFFFFF; text-align: center;}
.nav-bar .cover{ position: absolute; width: 100%; height: 108px; text-align: center;}
.nav-bar .cover .container{ max-width: 1170px; min-width: 768px; height: 108px; padding: 0px!important;}
.logo-panel{ float: left; height: 108px; padding-top: 18px; background-color: #F7B74C;}
.logo-panel > a> img{ border: 2px solid #FFF; max-width: 90%; -webkit-transition: 0.1s; -moz-transition: 0.1s; -o-transition: 0.1s; -ms-transition: 0.1s;}
.nav-panel{ float: right; height: 108px; background-color: #FFFFFF; padding: 0px!important;}
.rec{ position: absolute; float: left; width: 0; height: 0; border-top: 108px solid #F7B74C; border-left: 0px solid transparent; border-right: 72px solid transparent; border-bottom: 0px solid transparent;}
.top{ width: 100%; height: 36px; min-width: 768px; background-color: #343434;}
.bottom{ width: 100%; height: 72px; min-width: 768px; background-color: #FFFFFF;}
.nav-panel .account-bar{ float: right; width: auto; display: inline-block;}
.nav-panel .account-bar .nav > li{ float: left; color: #999999; text-transform: uppercase; border-left: 1px solid #999999;}
.nav-panel .account-bar .nav > li > a{ padding: 10px; height: 36px; color: #999999;}
.nav-panel .account-bar .nav > li:hover > a{ background-color: #343434; color: #FFFFFF;}
.nav-panel .main-menu{ float: right; width: auto; display: inline-block; padding-top: 18px;}
.nav-panel .main-menu .nav > li{ float: left; height: 36px; padding: 8px; margin-left: 9px; color: #202E31; text-transform: uppercase; background-color: #FFFFFF;}
.nav-panel .main-menu .nav > li:hover, .nav-panel .main-menu .nav > li.active{ background-color: #F7B74C;}
.nav-panel .main-menu .nav > li > a{ color: #343434; padding: 0;}
.nav-panel .main-menu .nav > li:hover > a, .nav-panel .main-menu .nav > li.active > a{ color: #FFFFFF; background-color: #F7B74C;}
.banner{ width: 100%; height: 252px; text-align: center;}
.banner .container{ max-width: 1170px; min-width: 768px; height: 100%; padding: 0px!important; background-image: url(../img/banner.jpg); background-position: 0px 0px;}

/**************************** CONTENT ***************************/
/****************************************************************/
.contain{ width: 100%; height: auto;}
.contain .cover{ width: 100%; height: auto; margin-top: 18px; }
.contain .cover .container{ max-width: 1170px; min-width: 768px; padding: 0px!important;}
.left-sidebar{ border: 1px solid #E5E5E5; background-color: #FFFFFF; margin-bottom: 18px;}
.left-sidebar .panel{ border: none; box-shadow: none; margin: 0;}
.left-sidebar .panel .panel-heading{ border-radius: 0; color: #000; background-color: #FFFFFF;  border: 2px solid #F7B74C;}
.left-sidebar .panel .panel-body{ padding: 0;}
.content-sidebar{ background-color: #FFFFFF;}
.content-sidebar .panel{ width: 100%; border: 0; box-shadow: none;  border-radius: 0;}

/**************************** FOOTER ****************************/
/****************************************************************/
.sponsor{ height: 144px; border-top: 5px solid #F7B74C; background-color: #FFFFFF;}
.about-company{ height: 180px; background-color: #E5E5E5;}
.copyright{ height: 36px; background-color: #343434;}
.container > span{ float: left; color: #E5E5E5; margin-top: 9px;}

/************************ LIST PRODICTS *************************/
/****************************************************************/
.list-items .item{ margin-bottom: 30px;}
.list-items .item .inner{ background: #F7B74C; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; }
.list-items .item .inner:hover{ box-shadow: 0px 0px 10px #FFEBB5;}
.list-items .item .inner a > img{  width: 100%; border: 1px solid #E5E5E5; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s;}
.list-items .item .inner:hover a > img{ opacity: 0.9;}
.list-items .item .inner .detail{  background: #F5F5F5; text-align: left; border: 1px solid #E5E5E5; border-top: 0px; padding: 10px 10px; -webkit-transition: background-color 0.4s; -moz-transition: background-color 0.4s; -o-transition: background-color 0.4s; -ms-transition: background-color 0.4s;}
.list-items .item .inner .detail span{ color: #F7B74C; font-size: 14px; font-weight: bold; margin-bottom: 5px;}
.list-items .item .detail h5{ margin-bottom: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/************************ PRODUCT DETAIL ************************/
/****************************************************************/
.products h1{display: none!important;}
.products .product-name{ text-align: center;}
.products .images .productImage .magnify > img{ height: 150px;}
.products .images .moreImages{ margin: 0}
.products .images .moreImages .thumbnail{ height: 40px;}
.products .images .moreImages .thumbnail > img{ max-height: 40px;}
.products .detail .info{ height: 180px;}
.products .detail .info .price{ font-size: 25px; color: #F7B74C;}
.products .detail .info .line{ font-size: 17px; color: #000000;}
.products .detail .info .line #quantityVal{ font-size: 14px; padding: 0; height: 100%;}
.slider-handle{background-color: #F7B74C!important;}
.comment .star-rating{ font-size: 30px; color: #F7B74C;}
.comment .content{ height: 120px;}
.comment .row{ height: 180px; }
.comment .submit{ float: right;}
.comment .row .form-group{ text-align: center;}

@media (max-width: 1200px){
	.nav-bar{ height: 190px!important;}
	.logo-panel{ padding: 0; min-width: 768px;}
	.nav-panel .main-menu{ float: none;}
	#content-sidebar-container{ padding-left: 0;}
}